@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 60px;
}

/*header*/
#header{
    display: flex;
    justify-content: space-between;
    padding: 12px 30px;
    background: #000;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: .3s;
}

#header.rolagem{
    padding: 8px 20px;
}

#header nav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#header nav i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/*TOTAL PRODUTOS*/
#header nav a{
    display: flex;
    text-decoration: none;
    color: #fff;
    gap: 10px;
    align-items: center;
}
/**/


.titulo h1{
    font-weight: 800;
    color: #fff;
}

.container{
    width: 100%;
}

/**/
.apresentacaoNike{
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 7.5vw;
    font-size: 5vw;
    flex-direction: column;
    margin-top: 5vw;
    padding: 0 10px;
}

.apresentacaoNikeContent{
    opacity: 0;
    transition: 1.5s;
}

.apresentacaoNikeContent.active{
    opacity: 1;
}

.apresentacaoNike img{
    width: 11vw;
    filter: invert(1);
}

.rolar{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    line-height: 10px;
    position: absolute;
    bottom: 0;
    opacity: 0.6;
    left: 50%;
    transform: translateX(-50%);
}

.rolar i{
    font-size: 25px;
}
/**/


/*categoria*/
.categoria{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 40px 0;
    border-bottom: 1px solid #00000018;
}

.categoria a{
    text-decoration: none;
    color: #000;
    transform: translateY(0);
}

.categoria a:hover img{
    transform: translateY(-3px);
}

.categoriaContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
}

.categoriaContent img{
    width: 350px;
    transition: .3s;
}

.categoriaContentItems .lista{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
/**/


/*casuais*/
.categoriaContentItems{
    padding: 40px 0;
}

.categoriaContentItems h1{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
/**/


/*items*/
.lista .item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.07);
    transition: 0.4s;
    transform: translateY(0px);
}

.lista .item:hover{
    transform: translateY(-5px);
}

.lista .item img{
    width: 220px;
}

.lista a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: #000;
}

.lista{
    display: flex;
    gap: 18px;
}

.lista .item .nome{
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.lista .item p span{
    font-weight: 600;
}
/**/

.apresentacaoNike.final{
    gap: 0vw;
    line-height: 7.5vw;
    font-size: 5vw;
}

.apresentacaoNike.final img{
    margin-top: 5vw;
}

#footer{
    display: flex;
    color: #fff;
    background-color: #000;
    border-top: 0.2px solid #ffffff48;
    justify-content: space-between;
    padding: 10px 50px;
}

#footer a{
    color: #fff;
}

#footer h3{
    text-align: center;
}

#footer .txts{
    opacity: 0.6;
    font-size: 0.8vw;
}

/*SAIR botão*/
.sairContent{
    display: flex;
    gap: 8px;
    color: #fff;
}
.sairContent p{
    cursor: pointer;
}
.barraSairContainer{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.sairContent{
    cursor: pointer;
}

.barraSairContent{
    z-index: -100;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    height: 0px;
    background: #000;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
    transition: .5s;
    overflow: hidden;
}
.barraSairContent.active{
    opacity: 1;
    height: 120px;
}

.barraSairContent form button{
    background: none;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

/**/

@media(max-width: 1070px){
    .categoria{
        flex-direction: column;
        gap: 25px;
    }
    .categoriaContent img{
        width: 400px;
    }
    .categoria a p{
        font-size: 22px;
    }
}

@media(max-width: 600px){
    .categoriaContent img{
        width: 100%;
    }
    .apresentacaoNike.final{
        line-height: 17vw;
        font-size: 11vw;
        gap: 2vw;
    }
    .apresentacaoNike{
        line-height: 17vw;
        font-size: 11vw;
    }
    .apresentacaoNike img{
        width: 17vw;
    }
    .categoriaContentItems h1{
        font-size: 5vw;
    }

    /*MOBILE*/
    .lista .item{
        width: 80vw;
    }
    .lista .item img{
        width: 100%;
    }
    .lista .item p{
        font-size: 5vw;
    }

    /*BARRA DE SAIR MOBILE*/
    .barraSairContainer{
        width: 100%;
    }
    .barraSairContent{
        width: 100%;
        align-items: center;
    }
}

@media(max-width: 300px){
    .lista .item .nome{
        width: 100%;
    }
}